<?xml version="1.0"?>
<config>
    <modules>
        <stnc_modalbox>
            <version>1.0</version>
        </stnc_modalbox>
    </modules>
    <global>
        <helpers>
            <stnc_modalbox>
                <class>stnc_ModalBox_Helper</class>
            </stnc_modalbox>
        </helpers>
        <blocks>
            <stnc_modalbox>
                <class>stnc_ModalBox_Block</class>
            </stnc_modalbox>
        </blocks>
        <models>
            <stnc_modalbox>
                <class>stnc_ModalBox_Model</class>
            </stnc_modalbox>
        </models>


    </global>
    <frontend>

        <routers>
            <stnc_modalbox>
                <use>standard</use>
                <args>
                    <module>stnc_ModalBox</module>
                    <frontName>mageticaret</frontName>
                </args>
            </stnc_modalbox>
        </routers>

        <layout>
            <updates>
                <stnc_modalbox>
                    <file>stnc_modalbox.xml</file>
                </stnc_modalbox>
            </updates>
        </layout>

    </frontend>

    <modules>
        <translations>
            <version>1.3.0</version>
        </translations>
    </modules>

    <frontend>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>stnc_modalbox.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>stnc_modalbox.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>

</config>
