<?xml version="1.0"?>
<config>
    <modules>
        <stnc_webkulimplant>
            <version>1.0</version>
        </stnc_webkulimplant>
    </modules>
    <global>
        <helpers>
            <stnc_webkulimplant>
                <class>Stnc_Webkulimplant_Helper</class>
            </stnc_webkulimplant>
        </helpers>
    </global>
    <modules>
        <translations>
            <version>1.3.0</version>
        </translations>
    </modules>

    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Stnc_webkulImplant.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
</config>